.app-container {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.content-container {
  display: flex;
  flex-grow: 1;
}

.filters-container {
  display: block;
  width: 250px;
  padding: 20px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
}

.graph-container {
  flex-grow: 1;
  padding: 20px;
  overflow: hidden;
  position: relative;
  
}

.graph-title {
  text-align: center;
  margin-bottom: 20px;
}

.year-filter-container{
  display: flex;
  position: absolute;
  height: 5vh;
  width: calc(100vw - 290px);
  left: 290px;
  justify-content: center;
  background-color: #f8f1f1;
}