@import url("https://fonts.googleapis.com/css2?family=Lora&family=Public+Sans:ital@0;1&display=swap");

/**
 * VARIABLES:
 * **********
 */
:root {
  --ruby: #e22653;
  --grey: #999;
  --dark-grey: #666;
  --light-grey: #ccc;
  --cream: #f9f7ed;
  --transparent-white: #ffffffcc;
  --transition: all ease-out 300ms;
  --shadow: 0 1px 5px var(--dark-grey);
  --hover-opacity: 0.7;
  --stage-padding: 20px;
  --panels-width: 350px;
  --border-radius: 3px;
}

/**
 * BASE STYLES:
 * ************
 */
body {
  font-family: "Public Sans", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
}
h1,
h2 {
  font-family: Lora, serif;
}
h2 {
  font-size: 1.3em;
  margin: 0;
}
h2 > * {
  vertical-align: text-top;
}
h3 {
  font-family: Lora, serif;
  font-size: 1.0em;
  margin: 0;
}
p {
  font-family: Lora, serif;
  font-size: 1.0em;
  margin: 0;
}
a {
  color: black !important;
}


a:hover {
  opacity: var(--hover-opacity);
  color: #6E58FF; /* 호버 상태 링크 색상 */
}
a:link {
  color: #6E58FF; /* 기본 링크 색상 */
}

a:visited {
  color: #6E58FF; /* 방문한 링크 색상 */
}


a:active {
  color: #6E58FF; /* 활성 상태 링크 색상 */
}
/**
 * LAYOUT:
 * *******
 */
body {
  margin: 0;
  padding: 0;
}
#root {
  width: 100vw;
  height: 100vh;
  position: relative;
}
#app-root,
.sigma-container {
  background: white;
  position: absolute;
  inset: 0;
}
.controls {
  position: absolute;
  bottom: var(--stage-padding);
  left: 20px;
  display: flex;
  gap: 20px;
  z-index: 1000;
}
.graph-title {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: calc(100vw - var(--panels-width) - 3 * var(--stage-padding));
  padding: var(--stage-padding);
}
.graph-title h1 {
  font-size: 1.8em;
}
.graph-title h1,
.graph-title h2 {
  margin: 0;
  background: var(--transparent-white);
}
.search_panel {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 350px;
  max-height: calc(100vh - 2 * var(--stage-padding));
  overflow-y: auto;
  padding: var(--stage-padding) var(--stage-padding) 0 var(--stage-padding);
  scrollbar-width: thin;
}
.desc_panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  max-height: calc(100vh - 2 * var(--stage-padding));
  overflow-y: auto;
  padding: var(--stage-padding);
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border: transparent;
}

/**
 * USEFUL CLASSES:
 * ***************
 */
div.ico {
  --sigma-controls-size: 1.5rem;
}
div.ico > button {
  display: block;
  position: relative;
  font-size: 1.8em;
  width: 1.5em;
  height: 1.5em;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  color: black;
  background: white;
  border: none;
  outline: none;
  margin-top: 0.2em;
  cursor: pointer;
}
div.ico > button:hover {
  color: var(--dark-grey);
}
div.ico > button > * {
  position: absolute;
  inset: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button.btn {
  background: white;
  color: black;
  border: 1px solid black;
  outline: none;
  border-radius: var(--border-radius);
  padding: 0.3em 0.5em;
  font-size: 1em;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button.btn:hover {
  opacity: var(--hover-opacity);
}
button.btn > * {
  vertical-align: baseline;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  padding: 0;
}
ul > li {
  margin-top: 0.2em;
}
.text-muted {
  color: var(--dark-grey);
}
.text-small {
  font-size: 0.7em;
  vertical-align: baseline;
}
.mouse-pointer {
  cursor: pointer;
}

/**
 * CAPTIONS PANELS:
 * ****************
 */
.panel {
  background: white;
  padding: 1em;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}
.panel:not(:last-child) {
  margin-bottom: 0.5em;
}
.panel h2 button {
  float: right;
  background: white;
  border: 1px solid black;
  border-radius: var(--border-radius);
  font-size: 1.2em;
  height: 1em;
  width: 1em;
  text-align: center;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel h2 button:hover {
  opacity: var(--hover-opacity);
}

.caption-row input[type="checkbox"] {
  display: none;
}
.caption-row input[type="checkbox"]:not(:checked) + label {
  color: var(--dark-grey);
}
.caption-row input[type="checkbox"]:not(:checked) + label .circle {
  background-color: white !important;
}
.caption-row label {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.caption-row label:hover {
  opacity: var(--hover-opacity);
}
.caption-row label .circle {
  flex-shrink: 0;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 1.2em;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: var(--dark-grey);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0.2em;
  transition: var(--transition);
  border: 3px solid var(--dark-grey);
}
.caption-row label .node-label {
  flex-grow: 1;
}
.caption-row label .bar {
  position: relative;
  background: var(--light-grey);
  height: 3px;
  margin-bottom: 0.2em;
}
.caption-row label .bar .inside-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--dark-grey);
  transition: var(--transition);
}

/**
 * SEARCH FIELD:
 * *************
 */
.search-wrapper {
  position: relative;
}
.search-wrapper > input[type="search"] {
  width: calc(100%);
  height: 3em;
  box-shadow: var(--shadow);
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  margin-bottom: 0.5em;
  padding: 1em 1em 1em 3em;
  font-family: Lato, sans-serif;
  font-size: 1em;
}
.search-wrapper > .icon {
  position: absolute;
  width: 1em;
  height: 1em;
  top: 1em;
  left: 1em;
}

/**
 * RESPONSIVENESS:
 * ***************
 */
@media (max-width: 767.98px) {
  #app-root:not(.show-contents) .contents,
  #app-root.show-contents .controls {
    display: none;
  }

  #app-root.show-contents .contents {
    position: absolute;
    inset: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    background: var(--transparent-white);
  }
  #app-root.show-contents .graph-title,
  #app-root.show-contents .panels {
    height: auto;
    max-height: unset;
    max-width: unset;
    position: static;
    overflow-y: visible;
    width: auto;
  }
  #app-root.show-contents .graph-title {
    background: white;
    padding-right: calc(3em + 2 * var(--stage-padding));
    min-height: 3em;
  }
  #app-root.show-contents .contents .hide-contents {
    position: absolute;
    top: var(--stage-padding);
    right: var(--stage-padding);
  }
}
@media (min-width: 768px) {
  button.show-contents,
  button.hide-contents {
    display: none !important;
  }
}


.clusterLabel {
  position: absolute;
  padding: 10px; /* 레이블 내부 여백 추가 */
  background-color: rgb(227, 227, 227, 0.5); /* 반투명한 배경색 설정 */
  transform: translate(-50%, -50%);
  font-variant: small-caps;
  font-weight: 400;
  font-size: 1.5rem;
  text-shadow: 2px 2px 1px white, -2px -2px 1px white, -2px 2px 1px white, 2px -2px 1px white;
}


/* node detail panel */
.node-detail-panel {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 310px;
  height: 650px; /* Fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px;
  background:#E9EAEF;
  border: 1px solid #CECEDE;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  perspective: 1000px; /* Perspective for 3D flip effect */
}

.node-detail-panel h1 {
  margin-top: 10px;
}

.node-detail-panel img {
  width: 100%;
  height: auto;
}

.node-detail-panel .close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* Remove underline from the title link and set text color */
.title-link {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.title-link .highlight {
  display: inline-block;
  position: absolute;
  z-index: -1;
  background-color: #9481FF;
  height: 100%;
  width: 0%;
  transition: width 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.title-link:hover .highlight {
  width: 100%;
}
.awarded-message {
  color: #644EFF;
  font-weight: bold;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.awarded-message img {
  margin-right: 5px;
  filter: invert(25%) sepia(100%) saturate(7471%) hue-rotate(249deg) brightness(99%) contrast(100%); /* #644EFF */
}

.card {
  position: relative;
  width: 100%;
  height: auto; /* Allow image height to determine card height */
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  margin-bottom: 20px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 150%; /* Aspect ratio */
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card:hover .card-inner {
  transform: rotateY(75deg);
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%; /* Ensure both sides are the same height */
  backface-visibility: hidden;
}

.card-front img {
  display: block;
  width: 100%;
  height: 100%; /* Ensure both sides are the same height */
  object-fit: cover;
}


.card-back {
  transform: rotateY(180deg);
  background: linear-gradient(50deg, #121212 0%, #323232 15%, #505050 65%, #636363 75%, #8A8A8A 85%, #ABABAB 95%);
  color: #F0EDFF;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto; /* Make the back scrollable */
}

.synopsis {
  white-space: pre-wrap; /* Preserve whitespace and newlines */
}

/* synopsis keywords */
.synop-keys {
  margin-top: 10px;
}

.synop-key {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border: 2px solid #6E58FF;
  border-radius: 20px;
  color: #6E58FF;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.synop-key:hover {
  background-color: #6E58FF;
  color: #FFFFFF;
}


/* music player */
/* CSS flex info: https://studiomeal.com/archives/197 */

.music-player {
  /* position: fixed; */
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 250px;
  background: rgba(255, 255, 255, 0.8);
  color: #121212;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
}

.music-player.collapsed {
  width: 150px;
  height: 35px;
  cursor: pointer;
}

.track-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  text-align: flex-start;
  margin-bottom: 0px;
}

.track-info h4 {
  color: #8A8A8A; /* Now Playing text color */
  margin-bottom: 0.6em;
}

.track-info h4 span {
  color: #121212; /* Track name color */
}

.music-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;  /* Ensure the controls take up the full width */
  margin-bottom: 10px; /* Add space below the control buttons */
}

.music-controls button {
  background: #E9EAEF;
  color: #121212;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
  display: flex; /* Ensure buttons are flex containers */
  align-items: center;
  justify-content: space-around;
  font-size: 20x;
  transition: background-color 0.3s, color 0.3s;
}

.music-controls button:hover {
  background: #6E58FF;
  color: #FFFFFF;
}

.collapse-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1px;
  font-size: 20px;
}

.collapse-button:hover {
  color: #6E58FF;
}

/* playlist */
.playlist {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  max-height: 85px;
  overflow-y: auto;
  width: 100%;
  z-index: 1;
}

.playlist-item {
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.playlist-item:hover {
  background-color: #E9EAEF;
  color: #6E58FF;
}


/* App.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 40%;
  max-height: 70%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-content {
  margin-top: 20px;
  overflow-y: auto;
  flex-grow: 1;
}

.accordion {
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.accordion-header {
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.accordion-header:hover {
  background-color: var(--light-grey);
}

.accordion-content {
  padding: 0 10px;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease, padding 0.3s ease;
}

.accordion-content.show {
  padding: 10px;
}

.neighbor-link {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border: 2px solid #6E58FF;
  border-radius: 20px;
  color: #6E58FF;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.neighbor-link:hover {
  background-color: #6E58FF;
  color: #FFFFFF;
}

.neighbor-link-producer {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border: 2px solid #FFBC42;
  border-radius: 20px;
  color: #FFBC42;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.neighbor-link-producer:hover {
  background-color: #FFBC42;
  color: #FFFFFF;
}

.neighbor-link-studio {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border: 2px solid #0496FF;
  border-radius: 20px;
  color: #0496FF;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.neighbor-link-studio:hover {
  background-color: #0496FF;
  color: #FFFFFF;
}

.neighbor-link-licensor {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border: 2px solid #D81159;
  border-radius: 20px;
  color: #D81159;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.neighbor-link-licensor:hover {
  background-color: #D81159;
  color: #FFFFFF;
}